* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    width: 350px;
    padding: 5px;
}

input[type='text'],
textarea {
    width: 100%;
    padding: 3px 2px;
}

#error-message {
    color: red;
    margin: 10px 0;
    display: none;
}

#save-card-button {
    padding: 0.6em 1.2em;
    width: 100%;
    border-radius: 5px;
    border: none;
    background: #0077cc;
    color: white;
    cursor: pointer;
}

#save-card-button:disabled {
    background: #aaa;
    cursor: not-allowed;
}

#deck-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 5px;
}

#deck-name {
    width: 100%;
}

#french-word {
    margin: 0;
    font-weight: bold;
}

#french-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 3px;
    column-gap: 5px;
}

#audio-player {
    height: 30px;
    grid-column: 1 / -1;
}

label[for='masculine'] {
    color: blue;
}

label[for='feminine'] {
    color: rgb(250, 86, 113);
}

label[for='undefined'] {
    color: rgb(97, 97, 97);
}

#bulgarian-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 3px;
    column-gap: 5px;
}

#image-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 3px;
    column-gap: 5px;
}

#select-image {
    padding: 5px 0;
}

#image-preview-wrapper {
    display: grid;
    grid-template-columns: auto 1fr; /* 2 columns: left for label/button, right for image */
    grid-template-rows: auto 1fr; /* 2 rows: first for label, second for button */
    gap: 0.5rem 1rem; /* row gap, column gap */
    grid-column: 1 / -1; /* Span across both columns */
    max-width: 600px;
}

#image-preview-wrapper label {
    grid-column: 1;
    grid-row: 1;
}

#image-preview-wrapper button {
    grid-column: 1;
    grid-row: 2;
    align-self: stretch;
}

#image-preview-wrapper img {
    grid-column: 2;
    grid-row: 1 / span 2; /* Image takes up both rows */
    max-width: 100%;
    height: auto;
    display: block;
    place-self: center;
    max-width: 100px;
    max-height: 100px;
}
